<%- include('partials/headerIndex') -%>

<main class="container"  id="bkgImg">
    <div class="row justify-content-around mt-5 flex items-center justify-center h-96">
        <div class="opacity-bkg">
            <h1 class="  hero-text text-slate-800  p-4  ">Buying/selling made easy.</h1>
        </div>
        <a href="/login" class="col-3 btn btn-secondary powder-blue-bkg black-font"> Login</a>
        <a href="/signup" class="col-3 btn btn-light black-coral-bkg "> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>